<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>
    <%include partials/head2.html%> <br><br> 
    <div class='container'></div>
    <h1>Mis datos personales</h1> 
    <table class='table'>
        <thead class="thead-dark">
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nombre:</td>
                <td>Luis Estuardo Bolaños Gonzalez</td>
            </tr>
            <tr>
                <td>Carnet:</td>
                <td>201731766</td>
            </tr>
            <tr>
                <td>Curso:</td>
                <td>Lenguajes de formales y de programacion</td>
            </tr>
            <tr>
                <td>Centro de estudios:</td>
                <td>Centro Universitario de Occidente (CUNOC)</td>
            </tr>
        </tbody>        
    </table>
</div>
</body>
</html>