<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimun-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Documedddsnt</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>
    <%include partials/head.html%><br><br>
<div class='container'>
    <input id='files' name='files' type='file' accept='.txt' class='form-control'><br><br>       
    <textarea rows="4" id="bbb" class='form-control' placeholder="Texto a ser analizado"></textarea><br><br>

    <button id="recibidor" name='automata2'" class='btn btn-primary mb-2'>recibidor</button>
    <button id="posteador" name='automata3'" class='btn btn-primary mb-2'>posteador</button>
    <br><br>
    <table class='table' id='actual'>
        <thead class='thead-dark'>
            <tr>
                <th>Token:</th>
                <th>Descripcion:</th>
                <th>Numero:</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

    <script src="/verificador.js"></script>
    <script src="/analizador.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/axios.js"></script>  
</body>
</html>